# Bootstrap
app/bootstrap.*

# Symfony directories
vendor/*
app/logs/*
app/cache/*
web/uploads/*
web/bundles/*

# Configuration file
app/config/parameters.yml


## IDE files to ignore
nbproject/
.idea/
*.tmproj


## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out